@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.bg-cs{
  background: linear-gradient(116.35deg, #FB9F4D 0.87%, #FC819E 28.48%, #BD96EF 61.04%, #73A5F8 96.72%);
}
.bg-dark{
  @apply bg-gray-800;
}
.text-cs {
  background: linear-gradient(116.35deg, #FB9F4D 0.87%, #FC819E 28.48%, #BD96EF 61.04%, #73A5F8 96.72%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.border-cs{
  border-image: linear-gradient(116.35deg, #FB9F4D 0.87%, #FC819E 28.48%, #BD96EF 61.04%, #73A5F8 96.72%) 1;
  border-radius: 5px; /* this doesn't work */
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  padding: 5px;
}
option {
  font-size: 18px;
  background-color: #FC819E;
  margin-top: 10px;
  border:none;
  border-width: 10px;
  font-weight: bold;
}
option:hover{
  background-color: #333333;
}
select{
  border: none;
  background-color: #FC819E;
}
.default-hover{
  @apply bg-slate-200
}
.dark .default-hover{
  @apply bg-slate-500
}
.default{
  @apply bg-white text-black transition-colors duration-0 ease-in-out;

}
.dark .default{
  @apply bg-gray-700 text-white;

}
.default-2{
  @apply bg-slate-100 text-black transition-colors duration-0 ease-in-out;

}
.dark .default-2{
  @apply bg-gray-600 text-white;

}

.text-default{
  @apply  text-black transition-colors duration-0 ease-in-out;

}
.dark .text-default{
  @apply  text-white;

}
.text-default-invert{
  @apply  text-white transition-colors duration-0 ease-in-out;

}
.dark .text-default-invert{
  @apply  text-black;

}


.bg-toggleButton {
  @apply bg-slate-500; /* Example dark mode gradient */
}

.dark .bg-toggleButton{
  background: linear-gradient(116.35deg, #FB9F4D 0.87%, #FC819E 28.48%, #BD96EF 61.04%, #73A5F8 96.72%);

}
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  @apply overflow-x-hidden;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

